@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kill native select arrow across all browsers */
select.appearance-none::-ms-expand {
  display: none;
}
select.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}